<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">

    <listeners>
        <listener class-name="company.test_components.Listeners"/>
    </listeners>

    <test thread-count="5" name="Submit Order Test">
        <classes>
            <class name="company.tests.SubmitOrderTest"/>
        </classes>
        </test>

        <test thread-count="5" name="Error Validations Test">
            <classes>
                <class name="company.tests.ErrorValidationsTest">
                </class>
            </classes>
        </test>
    <test thread-count="5" name="Search Validation Test">
        <classes>
            <class name="company.tests.SearchValidationTest">
            </class>
        </classes>
    </test>
</suite>